---
import '../styles/global.css';
import DSGVO from '../components/dsgvo.md';
import { SEO } from "astro-seo";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!--<link rel="icon" type="image/svg+xml" href= {import.meta.env.BASE_URL + "/favicon.svg"}/> -->
		<link rel="icon" href= {import.meta.env.BASE_URL + "/favicon.ico"} />
		<meta name="generator" content={Astro.generator} />
    <!-- <link rel="stylesheet" href= {import.meta.env.BASE_URL +"/src/styles/global.css"} /> -->
		<title>{frontmatter.title}</title>
    <SEO
      title={frontmatter.title}
      titleTemplate="%s - EuroVis 2027"
      description="This is the website for the 29th Eurographics Conference on Visualization (EuroVis), which will take place 2027 in Stuttgart, Germany and is organized by the Visualization Research Center (VISUS) of the University of Stuttgart."
      canonical="https://eurovis27.github.io/web/"
      noindex={false}
      nofollow={false}
      openGraph={{
        basic: {
          title: frontmatter.title || "EuroVis 2027",
          type: "website",
          image: "/seo-screen.png",
          url: "https://eurovis27.github.io/web/",
        },
        optional: {
          locale: "en_US",
          siteName: "EuroVis 2027",
          description:
            "This is the website for the 29th Eurographics Conference on Visualization (EuroVis), which will take place 2027 in Stuttgart, Germany and is organized by the Visualization Research Center (VISUS) of the University of Stuttgart.",
        },
      }}
    />
	</head>
	<body>

    <div class="dsgvo">
      <DSGVO />
    </div>

    <h1>{frontmatter.title}</h1>

    <h2>{frontmatter.description}</h2>

    <div class="content">
      <slot />
		</div>
    
	</body>
</html>


<!-- Here, astro prepends BASE_URL automatically to font urls -->
<style is:global>

@font-face {
  font-family: 'Satoshi-Light';
  src: url('/fonts/Satoshi/Satoshi-Light.woff2') format('woff2'),
       url('/fonts/Satoshi/Satoshi-Light.woff') format('woff'),
       url('/fonts/Satoshi/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

html,
body {
  font-family: 'Satoshi-Light', system-ui, -apple-system, sans-serif;
}

</style>
